/* these are the default styles that would normally be applied by a browser */
body {
 font-family:Verdana,Arial,sans-serif;
 /*font-size:12px;*/
 padding-bottom:30px;	
}
h1 {
	font-size: 120%;
	font-weight: bold;
	color: #172f47;
}

h2 {
	font-size: 110%;
	font-weight: bold;
	color: #172f47;
}

h3 {
	font-size: 105%;
	font-weight: bold;
	color: #172f47;
}

h4 {
	font-weight: bold;
	color: #172f47;
}

h5 {
	font-size: 90%;
	font-weight: bold;
	color: #172f47;
}

h6 {
	font-size: 80%;
	font-weight: bold;
	color: #172f47;
}

b {
	font-weight: bold;
}

strong {
	font-weight: bold;
}

i {
	font-style: italic;
}

cite {
	font-style: italic;
}

em {
	font-style: italic;
}

var {
	font-style: italic;
}

dfn {
	font-style: italic;
}

code {
	font-family: monospace;
	color:#4444CC;
}

pre {
	font-family: monospace;
}

/* Java stack traces
pre.javaStackTrace {
	font-family: monospace;
}
*/

/* sections beginning with -- Error Details --
pre.eclipseErrorDetails {
	font-family: monospace;
}
*/
 
ins {
	text-decoration: underline;
}

del {
	text-decoration: line-through;
}

sup {
	font-size: smaller;
	vertical-align: super;
}

a {
	text-decoration: underline;
	color: blue;
}

sup a {
	text-decoration: none;
}

sub {
	font-size: smaller;
	vertical-align: sub;
}

dt {
	font-weight: bold;
}

blockquote {
	color: rgb(38, 86, 145);
}

tt {
	font-family: monospace;	
}

q {
	color: rgb(38, 86, 145);
}

nav {
 font-weight:bold;
}
nav a {
 text-decoration:none;
}
footer {
 background-color:#AAA;
 border-top:1px solid #B45;
 bottom:5px;
 color:white;
 font-size:10px;
 line-height:0.6em;
 padding:2px 10px;
 position:fixed;
 right:5px;
 text-align:right;
}
a.unknown {
 color:red;
}
img {
 max-height:500px;
 max-width:800px;
}
table {
 border-collapse:collapse;
 border-spacing:0px;
}
td,th {
 border:1px solid #dadada;
}